*, *::before, *::after {
  box-sizing: border-box;
  font-family: 'Quicksand', sans-serif;
}

:root {
  --hue-neutral: white;
  --hue-correct: rgba(0, 204, 0, 0.5);
  --hue-incorrect: rgba(204, 0, 0, 0.5);
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 50px;
}

.bar {
  -webkit-border-top-left-radius: 5px;
  -webkit-border-top-right-radius: 5px;
  -moz-border-radius-topleft: 5px;
  -moz-border-radius-topright: 5px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  width: 100%;
  padding: 20px 30px 3px 30px;
  background-color: black;
  color: white;
}

.bar > p {
  padding: 10px;
  max-width: 30%;
  min-width: fit-content;
  height: auto;
  margin: 0px 10px;
  display: inline-block;
}

#score {
  width: 20px;
  font-size: 20px;
  font-weight: bold;
  float: right;
}

.card {
  padding: 30px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  -webkit-box-shadow: 1px 1px 5px 1px grey;
  -moz-box-shadow: 1px 1px 5px 1px grey;
  box-shadow: 1px 1px 5px 1px grey;
  max-width: 80vw;
  min-width: 320px
}

.card-content {
  width: 80vw;
  min-width: 320px;
  padding: 0px 30px 30px 30px;
}

.question-card {
  padding: 0;
}

.answers-list {
  margin-bottom: 20px;
}

.correct-answer {
  animation: correct-answer 3s ease;
}

.incorrect-answer {
  animation: incorrect-answer 3s ease;
}

.btn-max-width {
  font-size: 20px;
  background-color: white;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  cursor: pointer;
  padding: 8px;
  width: 100%;
  border: 1px solid grey;
}

.btn-max-width:active {
  outline: none;
}

.btn-max-width:hover {
  border: 1px solid black;
  background-color: rgba(128, 128, 128, 0.335);
}

.selector-max-width {
  background-color: white;
  font-size: 18px;
  padding: 8px;
  margin: 5px 0px 20px 0px;
  width: 100%;
}

.selector-max-width:hover {
  border: 1px solid black;
}

.loading-container {
  margin-top: 100px;
  display: flex;
  align-items: center;
}

.loading-text {
  font-size: 32px;
  margin: 10px;
}

.loading-balls {
  padding-bottom: 2px;
  align-items: flex-end;
  display: flex;
  height: 40px;
  width: auto;
}

.loading-ball {
  animation: bounce 0.5s infinite;
  margin: 5px;
  height: 8px;
  width: 8px;
  background-color: black;
  border-radius: 100%;
}
.loading-ball.ball-1 { animation-delay: 0s; }
.loading-ball.ball-2 { animation-delay: 0.1s; }
.loading-ball.ball-3 { animation-delay: 0.2s; }

@keyframes bounce {
  0% { transform: translateY(0%) }
  50% { transform: translateY(-70%) }
  100% { transform: translateY(0%) }
}

.radio-input {
  border: 1px solid white;
  width: fit-content;
  padding: 4px;
}

.radio-input:hover {
  border: 1px solid black;
}

.welcome {
  animation: grow 0.2s ease;
}

.error-msg {
  margin-top: 5px;
  margin-bottom: 5px;
  color: red;
}

@keyframes incorrect-answer {
  0% { background-color: var(--hue-neutral) }
  8% { background-color: var(--hue-incorrect) }
  100% { background-color: var(--hue-incorrect) }
}

@keyframes correct-answer {
  0% { transform: scale(1); background-color: var(--hue-neutral) }
  8% { transform: scale(1.2); background-color: var(--hue-correct) }
  100% { transform: scale(1.2); background-color: var(--hue-correct) }
}

@keyframes grow {
  0% { transform: scale(0) }
  100% { transform: scale(1) }
}